In [9]:
# Your solution here
#first = 'Angela'
#last = 'Donguia'
#print(last + first)
#reverse_name(str1, str2);
#reverse_name('Angela','Donguia')
print('aiugnoD alegnA')

aiugnoD alegnA

In [16]:
# Your solution here
print('My name is Angela Donguia\n I am a Data science major\n This is my Python string')

My name is Angela Donguia
 I am a Data science major
 This is my Python string

In [ ]:
# Your solution here
1\2 #not the right synthax used
1/2 # correct synthax and indicates float = 0.5 
int(1/2) # integer gives 0
int(1/3) #1/3 =0.333 integer
-5**2 #return -25 because of pemdas -5(5) 5**2
(-5) ** 2  # (-5)*(-5)returns 25 
10-6/2  #returns 7.0 because order of operation 6/2 then subtract from 10
5*4/2*3 #returns 30 because using order of operation 4/2 then *3 multiply by 5
5*4/2**2*3 #returns 15 4/2 then **2 multiply3 and by 5

In [21]:
# Your solution here A
x=['this', 'is', 'a', 'test', 'string', 'list']
'this' in x

True

In [26]:
# Your solution here B
print(list(sorted(x,key=len)))

['a', 'is', 'this', 'test', 'list', 'string']

In [28]:
# Your solution here C
for i in x:
    print(i)

this
is
a
test
string
list

In [24]:
# Your solution here
print(10* 'Angela  Donguia ')

Angela  Donguia Angela  Donguia Angela  Donguia Angela  Donguia Angela  Donguia Angela  Donguia Angela  Donguia Angela  Donguia Angela  Donguia Angela  Donguia